// Site custom styles. This file loads last.
.header,
%header {
    gap: 10px;
    color: $bean-green;

    &__site-name {
        line-height: var(--heading-line-height);
        display: flex;
    }

    &__site-link {
        align-self: end;

        &:link,
        &:visited {
            color: $bean-green;
            text-decoration: none;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    margin-bottom: 20px;
    padding-bottom: 0;
    margin-top: 20px;
}

header {
    @include margin-block(0 1.0);
}

body {
    background-color: white;
    overflow-y: scroll;

}

aside {
    margin: 1.6rem;
    padding-inline: 0;
}

aside ul {
    list-style: none;
    padding: 0;
    display: table;
}

aside ul > li {
    display: table-row;
}


blockquote {
    color: #555;
    border-left: 4px solid #eee;
    padding-left: 30px;
    margin-left: 0;
}

.footer {
    border-top: 3px solid $bean-green;
    color: #999;
}

.mobile-nav {
    padding: 5px 8px 5px 8px;
}

.layout {
    &__second-sidebar {
        padding-inline: var(--gutters);
        min-width: 0;  // With display grid defaults to auto, making <pre> overflow.
        margin-left: 0;
        margin-right: 0;
    }

    &__second-sidebar > .menu {
      background: #F4F5F3;
      padding: 24px;
      border-radius: 20px;
    }

    &__second-sidebar > .menu > .title{
        padding-bottom: 12px;
        border-bottom: 2px dotted #ccc;
        font-family: var(--ff-headings);
        text-transform: uppercase;
        font-size:var(--fs-s);
      }

      &__second-sidebar > .menu > .title  a{
      text-decoration: none;
      }

      &__second-sidebar > .menu > ul  {

        margin-bottom: 0px;
        
        
      }


    &__second-sidebar > .menu > ul > li {
        display: block;
        margin-bottom: 20px;
        font-family: var(--ff-headings);
        font-weight: 500;
      }

      &__second-sidebar > .menu > ul > li:last-child {
        margin-bottom: 18px;
      }

    &__second-sidebar > .menu > ul > li > a {
        font-family: var(--ff-headings);
        font-size: 0.8rem;
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
      }
  }


h1 {
  letter-spacing: -0.03em;
}

h2 {
  font-size: var(--fs-xl);
  letter-spacing: -0.03em;
}

h3,
%h3 {
  font-size: var(--fs-l);
  letter-spacing: -0.03em;
}

h4,
%h4 {
  font-size: var(--fs-m);
}

h5,
%h5 {
  font-size: var(--fs-s);
}

h6,
%h6 {
  font-size: var(--fs-xs);
}

.header-link {
    display: inline-flex;
    font-family: var(--ff-headings);
    font-weight: 600;
    font-size: 0.8rem;
    align-items: center;
    opacity: 0.3;
    color: black;
    text-decoration: none;
}

.header-link img {
    margin-right: 4px;
}

.header-logo {
    width: 100%;
}

.meta {
    letter-spacing: -0.01rem;
}

@media (max-width:480px)  { 
    .layout__main {
        padding: 0 17px 0 17px;
    }
}

.tag-pill {
  background-color: #F4F5F3;
  color: #555;
  padding: 1px 10px 1px 10px; 
  border-radius: 100px;
  display: inline-block;
  font-family: var(--ff-headings);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
